.checkbox {
  margin: 0 auto;
  padding: 0;
  display: block;
}

.checkbox__input {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.checkbox__span {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  vertical-align: middle;
}

.checkbox__input:checked+.checkbox__span {
  background-image: url(../../../images/check.svg);
}