.select-input {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.select-input__select {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  width: calc(100% - 15px - 2px);
  height: 36px;
  display: flex;
  align-items: center;
}

.select-input__title {
  margin: 0;
  padding: 0;
  width: calc(100% - 27px);  
  overflow: hidden;
}

.select-input__placeholder {
  margin: 0;
  padding: 0;
  width: calc(100% - 27px);  
  color: grey;
}

.select-input__cancel {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 21px;
  font-weight: 900;
}

.select-input__arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 7.5px;
  color: grey;
}

.select-input__window {
  margin: 0;
  padding: 5px;
  border: 1px solid grey;
  width: calc(100% - 10px - 2px);
  height: 250px;
  position: absolute;
  z-index: 3;
  background: white;
}

.select-input__input {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  width: calc(100% - 15px - 2px);
  height: 36px;
}

.select-input__wrap {
  margin: 5px 0 0 0;
  padding: 0;
  overflow-y: auto;
  height: calc(100% - 5px - 38px);
}

.select-input__items {
  margin: 0;
  padding: 0;
  width: 100%;
}

.select-input__item {
  margin: 0;
  padding: 5px;
  width: calc(100% - 10px);
  overflow-wrap: break-word;
}

.select-input__item:hover {
  background-color: lightblue;
}