.form-select {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-select__label {
  margin: 0;
  padding: 0;
}

.form-select__input {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.form-select__input:focus {
  outline: none;
}

.form-select__display {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  height: 36px;
  display: flex;
  align-items: center;
}

.form-select__title {
  margin: 0;
  padding: 0;
  width: calc(100% - 50px);
  overflow: hidden;
}

.form-select__placeholder {
  margin: 0;
  padding: 0;
  width: calc(100% - 50px);
  color: grey;
}

.form-select__cancel {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 21px;
  bottom: 9px;
  font-weight: 900;
  color: grey;
}

.form-select__arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 7.5px;
  bottom: 10px;
  font-weight: 900;
  color: grey;
}

.form-select__window {
  margin: 0;
  padding: 5px;
  border: 1px solid  grey;
  width: calc(100% - 10px - 2px);
  height: 250px;
  position: absolute;
  z-index: 3;
  background: white;
  top: calc(100% - 1px);
}

.form-select__window-input {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  height: 36px;
  width: calc(100% - 15px - 2px);
}

.form-select__window-input:focus {
  outline: none;
  border: 1px solid lightblue;
}

.form-select__items {
  margin: 5px 0 0 0;
  padding: 0;
  overflow-y: auto;
  height: calc(100% - 5px - 38px);
}

.form-select__item {
  margin: 0;
  padding: 5px;
  width: calc(100% - 10px);
  overflow-wrap: break-word;
}

.form-select__item:hover {
  background-color: grey;
}