.datetime-range-form {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.datetime-range-form__select {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  width: calc(100% - 15px - 2px);
  height: 36px;
  display: flex;
  align-items: center;
}

.datetime-range-form__title {
  margin: 0;
  padding: 0;
  width: calc(100% - 27px);  
  overflow: hidden;
}

.datetime-range-form__cancel {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 21px;
  font-weight: 900;
}

.datetime-range-form__arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 7.5px;
  color: grey;
}

.datetime-range-form__window {
  margin: 0;
  padding: 5px;
  border: 1px solid grey;
  width: calc(100% - 10px - 2px);
  height: 188px;
  position: absolute;
  z-index: 3;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.datetime-range-form__input-row {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.datetime-range-form__date {
  background: transparent;
  padding: 5px;
  ::-webkit-datetime-edit {
    padding: 5px;
}
}

.datetime-range-form__calendar {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
}
