.form-datetime-range {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-datetime-range__label {
  margin: 0;
  padding: 0;
}

.form-datetime-range__input {
  margin: 0;
  padding: 0 7.5px;
  border: 1px solid grey;
  height: 36px;
}

.form-datetime-range__input:focus {
  outline: none;
}

.form-datetime-range__cancel {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 21px;
  bottom: 9px;
  font-weight: 900;
  color: grey;
}

.form-datetime-range__arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  right: 7.5px;
  bottom: 10px;
  font-weight: 900;
  color: grey;
}

.form-datetime-range__window {
  margin: 0;
  padding: 5px;
  border: 1px solid grey;
  width: calc(100% - 10px - 2px);
  height: 233px;
  position: absolute;
  z-index: 3;
  background: white;
  top: calc(100% - 1px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}