@import url(vendor/normalize.css);
@import url(vendor/fonts/fonts.css);

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.7;
}


.col-3 {
  max-width: calc(25% - 15px);
}

.col-6 {
  max-width: calc(50% - 10px);
}

.col-12 {
  max-width: 100%;
}